<template name="home">
  <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Améliorez <br>votre relation-client</h1>
                <hr>
                <p>Fidélisez vos clients et augmentez vos revenus</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">S'inscire gratuitement</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Vos clients sont vos meilleurs ambassadeurs : soignez-les !</h2>
                    <hr class="light">
                    <p class="text-faded">Fidélisez votre clientèle en répondant en direct à leurs demandes par chat. Restez en contact avec vos clients. Augmentez vos revenus en promouvant vos actions de communication !</p>
                    <p>Soyez-là où vos clients vous attendent !</p>
                    <a href="#" class="btn btn-default btn-xl">Télécharger l'application</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Un outil conçu pour votre activité</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>Apprenez qui sont vos clients</h3>
                        <p class="text-muted">Votre dasboard vous permet de suivre, de catégoriser et de connaître vos clients</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Augmentez vos revenus</h3>
                        <p class="text-muted">Faites la promotion ciblée de votre activité pour acquérir de nouveaux clients.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Messages personnalisés</h3>
                        <p class="text-muted">Communiquez à vos clients des informations importantes concernant leur achat.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Soyez aimé par vos clients</h3>
                        <p class="text-muted">Demandez-leur des nouvelles après leur achat et obtenez des feedbacks.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Cas Pratique
                                </div>
                                <div class="project-name">
                                    Magasin Hipster Mood
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/8.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Cas Pratique
                                </div>
                                <div class="project-name">
                                    Crédit Agricole
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Cas Pratique
                                </div>
                                <div class="project-name">
                                    Magasin Photo Store
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/7.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Cas Pratique
                                </div>
                                <div class="project-name">
                                    Restaurant le Rabelais
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/9.jpeg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Cas Pratique
                                </div>
                                <div class="project-name">
                                    Citroën
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Cas Pratique
                                </div>
                                <div class="project-name">
                                    Ebénisterie du domaine 
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Il n'y a pas de raison que ça ne fonctionne pas pour vous !</h2>
                <a href="#" class="btn btn-default btn-xl wow tada">S'inscrire gratuitement</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contactez-nous :)</h2>
                    <hr class="primary">
                    <p>Vous souhaitez nous contacter pour en savoir davantage ? Nos agents commerciaux seront ravis d'échanger avec vous !</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>09 66 85 10 21</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">informations@gettextr.com</a></p>
                </div>
            </div>
        </div>
    </section>
</template>