<template name="messages">
  <div class="message-history">
    {{#each msgs}}
      <div class="message">
        <a href="" class="message_profile-pic" style="background-image: url('/cfs/files/images/{{picture}}');"></a>
        <a href="" class="message_username">{{name}}</a>
        <span class="message_timestamp"><span data-livestamp="{{createdAt}}"></span></span>
        <span class="message_star"></span>
        <span class="message_content">{{text}}</span>
    </div>
    {{/each}}
</div>
</template>